body{

    background-color: #22778a;
    width: auto;
}

.container{

  margin: auto;
  width: 50%;
  border: 10px solid #0b5353;
  padding: 60px;
  text-align: center;
  font-size: 25px;
}
#enterButton{
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;

}
#submitButton{
  margin: auto;
  cursor: pointer;
  width: 100px;
  height: 35px;
  border: 3px solid black;

}
#firstName{
  width: 250px;
  height: 25px;
}
#lastName{
  width: 250px;
  height: 25px;
}
#email{
  width: 250px;  
  height: 25px;
}
#number{
  width: 250px;  
  height: 25px;
}
#course{
  width: 200px;
  height: 25px;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.div{
  position: relative;
  overflow: hidden;
  background-color: #FAF9F6;
  height: 80px;
  width: 100vw;
 
}
.images{
  display: flex;
  animation-name: Animation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: max-content;
}
.images img{
  height: 80px;
  width: 200px;
  flex-shrink: 0;
}

@keyframes Animation {
  from{transform: translateX(0);}
  to{transform: translateX(-50%);}
}

